
<%= form_for @user  do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
    <div class="row">
  <div class ="col-md-4">
  <div class="form-group">
   <%= f.label :first_name,'First Name'%>
   <%= f.text_field :first_name ,:required => true,class:"form-control" %>
   </div>
   </div>
  <div class="col-md-4">
  <%= f.label :middle_name,'Middle Name'%>
  <%= f.text_field :middle_name,class:"form-control"%>
  </div>
  <div class="col-md-4">
  <%= f.label :last_name,'Last Name'%>
  <%= f.text_field :last_name, :required => true,class:"form-control"%>
  </div>
  </div>
 <div class="row">
 <div class="col-md-4">
  <%= f.label :email,'Email'%>
  <%= f.text_field :email ,:required => true,class:"form-control"%>
  </div>
  <div class="col-md-4">
  <%= f.label :logid,'Login ID' %>
  <%= f.text_field :logid,class:"form-control" %>
  </div>
  <div class="col-md-4">
  <%= f.label :password,'Password' %>
  <%= f.password_field :password, :required => true,class:"form-control" %>
  </div>
  </div>
   <div class="row">
 <div class="col-md-4">
  <%= f.label :password_confirmation,'Password Confirmation'%>
  <%= f.password_field :password_confirmation,class:"form-control" %>
  </div>
   <div class="col-md-4">
  <%= f.label :employee_id,'Employee ID'%>
  <%= f.text_field :employee_id,class:"form-control"%>
  </div>
   <div class="col-md-4">
  <%= f.label :date_of_birth,'Date of Birth'%>
  <%= f.text_field :date_of_birth,:required => true,class:"form-control",id:"datepicker2"%>
  </div>
  </div>

  <div class="row">
  <div class="col-md-4">
  <%= f.label :gender,'Gender'%>
  <%= f.select(:gender, options_for_select([['Male'], ['Female']]),class:"form-control") %>
  </div>
 <div class="col-md-4">     
  <%= f.label :time_zone,'Time Zone'%>
  <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones,class:"form-control") %>
  </div>
 <div class="col-md-4">
  <%= f.label :designation_id,'Designation' %>
 <%= f.collection_select(:designation_id, Designation.all, :id, :name) %> 
  </div>
  </div>

  <div class="row">
  <div class="col-md-4">
  <%= f.label :date_of_joining,'Date of Joining'%>
  <%= f.text_field(:date_of_joining,:required => true,class:"form-control",id:"datepicker3") %>
  </div>
  <div class="col-md-4">
  <%= f.label :education,'Education'%>
  <%= f.text_area :education,class:"form-control"%>
  </div>
   <div class="col-md-4">
  <%= f.label :comments,'Comments'%>
  <%= f.text_area :comments,class:"form-control"%>
   </div>
   </div>
  <div class="row">
  <div class="col-md-4">
  <%= f.label :work_phone,'Work_Phone'%>
  <%= f.text_field :work_phone,:required => true ,class:"form-control"%>
  </div>
  </div>

    <p align="center">
    <%= f.submit %>
  </p>
<% end %>
