
  <table class = "table">
    <tr>
      <th> First name</th>
      <th> Middle name</th>
      <th> Last name</th>
      <th> E-mail</th>
      <th> Phone</th>
      <th> Login Id</th>
      <th> eid</th>
      <th> dob</th>
      <th> Gender</th>
      <th> Time Zone</th>
      <th> Designation </th>
      <th> DOJ</th>
      <th> Education</th>
      <th> Comments</th>
      <th> Lock</th>
      <th> Active</th>
      <th> Deactivated on</th>
      <th> Reason of deactivation</th>
    </tr>
    <tr>
      <td><%= @user.first_name %> </td>
      <td><%= @user.middle_name %> </td>
      <td><%= @user.last_name %> </td>
      <td><%= @user.email %> </td>
      <td><%= @user.work_phone %> </td>
      <td><%= @user.logid %> </td>
      <td><%= @user.employee_id %> </td>
      <td><%= @user.date_of_birth %> </td>
      <td><%= @user.gender %> </td>
      <td><%= @user.time_zone %> </td>
      <td><%= @user.designation_id %></td>
      <td><%= @user.date_of_joining %> </td>
      <td><%= @user.education %> </td>
      <td><%= @user.comments %> </td>
      <td><%= @user.islock %> </td>
      <td><%= @user.isactive %> </td>
      <td><%= @user.date_of_deactivation %> </td>
      <td><%= @user.Reason%> </td>
    </tr>
    <tr>